
.base-container {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.base-container__base-body {
    padding: 10px;
}

.base-container__base-body__bordered{
    border-left: solid 0.5px rgb(66, 65, 65); 
    border-right:solid 0.5px rgb(66, 65, 65);   
    border-radius: 1%;
    height: 100%;
    padding: 8px;
}

.button-container {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}